<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>Property Search</title>
</head>
<body>
<h1>Property Search</h1>
<hr>
<!--    https://getbootstrap.com/docs/5.1/forms/layout/-->
<form class="row gx-3 gy-2 align-items-center" th:object="${searchInfo}" action="#" th:action="@{/index}" method="POST">
    <div class="col-sm-4">
        <label class="visually-hidden" for="specificSizeInputName">Name</label>
        <input type="text" th:field="*{address}"  class="form-control" id="specificSizeInputName" placeholder="Input address" required>
    </div>
    <div class="col-auto">
        <label class="visually-hidden" for="specificMinSelect">Min Price</label>
        <input type="number" th:field="*{minPrice}"  class="form-control" id="specificMinSelect" placeholder="$ Min" required>
    </div>
    <!--        <div class="col-auto">-->
    <!--            <label class="visually-hidden" for="specificMinSelect">Min Price</label>-->
    <!--            <select class="form-select" id="specificMinSelect">-->
    <!--                <option selected>Min price...</option>-->
    <!--                <option value="1">One</option>-->
    <!--                <option value="2">Two</option>-->
    <!--                <option value="3">Three</option>-->
    <!--            </select>-->
    <!--        </div>-->
    <div class="col-auto">
        <label class="visually-hidden" for="specificMaxSelect">Max Price</label>
        <input type="number" th:field="*{maxPrice}" class="form-control" id="specificMaxSelect" placeholder="$ Max">
    </div>
    <!--        <div class="col-auto">-->
    <!--            <label class="visually-hidden" for="specificMaxSelect">Max Price</label>-->
    <!--            <select class="form-select" id="specificMaxSelect">-->
    <!--                <option selected>Max price...</option>-->
    <!--                <option value="1">One</option>-->
    <!--                <option value="2">Two</option>-->
    <!--                <option value="3">Three</option>-->
    <!--            </select>-->
    <!--        </div>-->
<!--    selector-->
    <div class="col-auto">
        <label class="visually-hidden" for="specificTypeSelect">Type</label>
        <select class="form-select" id="specificTypeSelect" th:field="*{propertyType}">
<!--            <option selected>Choose Type...</option>-->
<!--            <option value="1">One</option>-->
<!--            <option value="2">Two</option>-->
<!--            <option value="3">Three</option>-->
            <option value="ChooseType" selected>Choose Type...</option>
            <option
                    th:each="type : ${allTypes}"
                    th:value="${type}"
                    th:text="${type}"
            >
                Say
            </option>
        </select>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

</body>
</html>